.home body {
    text-align: center;
}

.home h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

.home h2 {
    margin: 1em 0 0.25em;
}

.home h2:first-of-type {
    margin-top: 0.5em;
}

.home table,
.home tr,
.home td {
    border: 1px solid black;
}

.home table {
    border-collapse: collapse;
    margin: 0 auto;
}

.home tr {
    height: 20px;
}

.home td {
    width: 20px;
}

.home input[type=number] {
    width: 6em;
}
